/* MyComponent.css */
.CircularProgressbar-text {
  font-weight: bolder;
  font-size: 24px;
  /* Thay đổi kích thước văn bản nếu cần */
  font-family: Arial, sans-serif;
  /* Chỉnh font nếu cần */
  color: aliceblue;
}