.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: auto;
  background-color: #fff !important;

  .formContainer {
    background-color: var(--cardColor);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
  }
}
